* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(33,33,33);
    background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 57%, rgba(51,41,60,1) 100%);
}

main {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 70px;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-size: 34px;
    max-width: 640px;
    line-height: 60px;
    text-align: justify;
    border-radius: 20px;
   }

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 70px;
}

select {
    font-family: 'Staatliches', cursive;
    font-size: 35px !important;
}

option {
    font-family: 'Staatliches', cursive;
    font-size: 25px;
}

.profile-pic-user {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.user-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fighterContainer {
    margin-top: 60px;
    margin-bottom: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 30px;
}

.avatarCont {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid black;
}

.bxs-home, .bxs-invader, .bxs-book-content, .bxs-user, .bx-power-off, .bxs-store {
    margin-top: 13px;
    margin-left: 5px;
}

.bx-money-withdraw, .bxs-trash, .bx-arrow-from-top, .bx-cart-add {
    font-size: 24px;
    margin-right: 10px;
}

.att {
    font-size: 35px;
    margin-top: 25px;
}

.desc {
    margin-top: 60px;
    font-size: 25px;
    text-align: justify;
}

.sell {
    width: 360px;
}

.fighterAvatar {
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border: 1px solid dimgrey;
}

.card-back-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.stars2 {
    background:
        repeating-linear-gradient(to bottom, transparent 0%,
        rgba(64, 144, 181, 0.6) 1px,
        rgb(0, 0, 0) 3px,
        hsl(295, 60%, 12%) 5px, #153544 4px, transparent 0.5%),
        repeating-linear-gradient(to left,
        hsl(295, 60%, 12%) 100%,
        hsla(295, 60%, 12%, 0.99) 100%);
    animation: backglitch2 50ms linear infinite;
    margin-top: 40px;
    width: 467px;
    border: 2px solid;
    border-radius: 20px;
}

.avatar-circle {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

#output {
    border-radius: 80px;
}

.join-with-code {
    display: flex;
    flex-direction: column;
}

.btn-create-room {
    width: 300px;
    height: 60px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.fight-cont {
     background: inherit;
     padding-top: 60px;
     border-radius: 30px 30px 0 0;
     border: solid #69696938;
 }

.fighterAvatar2 {
    border-radius: 50px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid dimgrey;
}

.hp {
    margin-top: 15px;
}

.navbar {
    border-bottom: 2px solid #00000038;
    height: 95px;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
}

/*The eye icon on the password can be stylize with any tool you want
to use (the only way i know to do this correctly is using JS)
this is meant to be wide supported and it really depends on you browsers
if i realize any way to stylize the eye it could be added in the future
in other input type*/

.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    margin: auto;
    aspect-ratio: 16/9;
    align-items: center;
    justify-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    margin-top: 90px;
}

.input-container {
    filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #9e30a9);
    animation: blinkShadowsFilter 8s ease-in infinite;
    height: 275px;
    width: 445px;
    margin-top: 40px;
}

.btn-generate {
    margin-top: 190px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    border: 1px solid #69696975;
}

.input-content {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-inline: 1em;
}

.input-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    -webkit-clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    background: rgba(122, 251, 255, 0.5568627451);
    transition: all 1s ease-in-out;
}

.input-content::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    box-shadow: inset 0px 0px 20px 20px #212121;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(64, 144, 181, 0.6) 1px, rgb(0, 0, 0) 3px, hsl(295, 60%, 12%) 5px, #153544 4px, transparent 0.5%), repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsla(295, 60%, 12%, 0.99) 100%);
    -webkit-clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
    animation: backglitch 50ms linear infinite;
}

.input-dist {
    z-index: 80;
    display: grid;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 1em;
    padding-block: 1.2em;
    grid-template-columns: 1fr;
}

.input-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
    font-size: 1.1rem;
    background-color: transparent;
    width: 100%;
    border: none;
}

.input-is {
    color: #fff;
    font-size: 22px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid hsl(221, 26%, 43%);
}

.input-is:hover {
    transition: all 1s ease-in-out;
    background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}

.input-content:focus-within::before {
    transition: all 1s ease-in-out;
    background: hsla(0, 0%, 100%, 0.814);
}

.input-is:focus {
    outline: none;
    border-bottom: 1px solid hsl(192, 100%, 100%);
    color: hsl(192, 100%, 88%);
    background: linear-gradient(90deg, transparent 0%, rgba(102, 224, 255, 0.2) 27%, rgba(102, 224, 255, 0.2) 63%, transparent 100%);
}

.input-is::-moz-placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

.input-is::placeholder {
    color: hsla(192, 100%, 88%, 0.806);
}

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.profile-pic2 {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
    border: 2px black solid;
}
.profile-pic .-label {
    cursor: pointer;
    height: 150px;
    width: 150px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    font-family: kronaone;
    text-align: center;
    padding-right: 5px;
    padding-bottom: 15px;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}
.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}

.name-user {
    margin-top: 60px;
}

.level-user {
    margin-top: 60px;
}

@keyframes backglitch2 {
    0% {
        box-shadow: inset 0px 0px 0px 0px #212121;
    }
    50% {
        box-shadow: inset 0px 0px 0px 0px hsl(297, 42%, 10%);
    }
    100% {
        box-shadow: inset 0px 20px 20px 30px #212121;
    }
}

@keyframes backglitch {
    0% {
        box-shadow: inset 0px 20px 20px 30px #212121;
    }

    50% {
        box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
    }

    to {
        box-shadow: inset 0px 20px 20px 30px #212121;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(-50%, 20%);
    }

    50% {
        transform: rotate(180deg) translate(40%, 10%);
    }

    to {
        transform: rotate(360deg) translate(-50%, 20%);
    }
}

@keyframes blinkShadowsFilter {
    0% {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }

    25% {
        filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9e30a9);
    }

    50% {
        filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
    }

    75% {
        filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
    }

    to {
        filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
    }
}

@keyframes blinkShadowsFilter2 {
    0% {
        filter: drop-shadow(12px 9px 7px rgba(64, 144, 181, 0.1)) drop-shadow(-14px -10px 7px #9e30a9);
    }

    25% {
        filter: drop-shadow(12px -9px 6px rgba(64, 144, 181, 0.25)) drop-shadow(-14px 10px 6px #9e30a9);
    }

    50% {
        filter: drop-shadow(12px 9px 8px rgba(64, 144, 181, 0.25)) drop-shadow(-14px 10px 8px rgba(159, 48, 169, 0.1));
    }

    75% {
        filter: drop-shadow(5px -5px 7px rgba(64, 144, 181, 0.25)) drop-shadow(-5px 5px 7px rgba(159, 48, 169, 0.1));
    }

    to {
        filter: drop-shadow(12px 9px 7px rgba(64, 144, 181, 0.1)) drop-shadow(-14px -10px 7px #9e30a9);
    }
}

@keyframes blinkShadowsFilter3 {

    0% {
        filter: drop-shadow(5px -5px 7px rgba(64, 144, 181, 0.25)) drop-shadow(-5px 5px 7px rgba(159, 48, 169, 0.1));
    }

    75% {
        filter: drop-shadow(5px -5px 7px rgba(238, 3, 245, 0.25)) drop-shadow(-5px 5px 7px rgba(64, 144, 181, 0.25));
    }

    to {
        filter: drop-shadow(5px -5px 7px rgba(64, 144, 181, 0.25)) drop-shadow(-5px 5px 7px rgba(159, 48, 169, 0.1));
    }
}



